body {
  background-image: url("../media/fondo-PokemonDetails.webp");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  background-image: url("../media/cardPokemon.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 673px;
  margin: auto;
  width: 478px;
  border-radius: 21px;
}
.wrapper > h1 {
  position: relative;
  top: 53px;
  display: flex;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.pokebola {
  position: relative;
  position: relative;
  left: -171px;
  top: -98px;
  font-weight: 700;
  font-size: 30px;
  height: 97px;
  width: 129px;
}
.attack {
  position: relative;
  left: 170px;
  top: -8px;
  color: #961e1e;
  font-weight: 700;
  font-size: 30px;
  width: 427px;
}
.pokemon-cart-image {
  width: 371px;
  height: 243px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: -107.5px;
  left: 54px;
}

.pokemon-image {
  width: 100%;
  position: relative;
  left: 4px;
  height: 100%;
  top: 1px;
}
.box-cart {
  font-size: 14px;
  text-align: center;
}

p {
  margin-top: 10px;
}

.wrapper2 {
  width: 300px;
  border-radius: 14px;
  border: 2px solid #ffba5c;
}

.pokemon-cart-image2 {
  background: #eafee6;
  width: 140px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  display: inline-block;
}

.box-cart2 {
  font-size: 14px;
  float: right;
  top: 0px;
  margin-top: 8%;
  margin-right: 13%;
  text-align: center;
}


.heart-Img {
  position: relative;
  width: 50px;
  left: 131px;
  height: 55px;
  top: 2px;
}

.heart{
  position: relative;
    font-size: 60px;
    bottom: 109px;
    left: 68px;
}

.type{
  position: relative;
  bottom: 80px;
  right: 11px;
}
.defense{
  position: relative;
  bottom: 80px;
  right: 108px;
}
.speed{
  position: relative;
  bottom: 80px;
  right: 112px;
}
.weight{
  position: relative;
  bottom: 240px;
  right: 71px;


}
.height{
  position: relative;
    bottom: 254px;
    right: 110px;

}


