/* body {
  background-image: url("../media/fondo.gif");
  background-repeat: no-repeat;
  background-size: cover;
} */


.button {
  border: 1px solid #f8f8f8;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
}

.button-principal {
  border: 1px solid #f7f7f7;
  padding: 15px;
  font-size: 19px;
  background-color: #020202;
  color: #f8f8f8;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
}

.button-false {
  display: none;
}
